<br>
<div class="container">
  <!--MODELO PARA TELA DE LOGIN, SÓ ALTERAR --->

  <div class="row">



    <div class="col-lg-12 centralizar topo">
      <!--Centralizando o container  -->

      <div class="card">
        <!--Quadro branco, por trás do formulario "login" -->
        <div class="card-body">

          <h3>Cadastro de carro</h3>

          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="carro.nome"/>
            <label mdbLabel class="form-label" for="form1">Nome</label>
          </mdb-form-control>

          <br />
          <div>
            @if(carro.marca == null){

            <button type="button" class="btn btn-primary btn-rounded" (click)="buscarMarca()" mdbRipple>
              Buscar Marca
            </button>
          }@else {

            <span class="text primary">Marca: {{carro.marca.nome}}</span>
            <button type="button" class="btn btn-warning btn-rounded" (click)="buscarMarca()" mdbRipple>
              Trocar Marca
            </button>
          }
          </div>

          <br /><br />


          <button type="button" class="btn btn-primary btn-rounded" (click)="save()" mdbRipple>
            Salvar
          </button>
        </div>
    </div>
  </div>
</div>



<ng-template #modalMarcas>

  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">

  <app-marcaslist [esconderBotoes]="true" (retorno)="retornoMarca($event)"></app-marcaslist>

  </div>
  </ng-template>
